# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Coverage / testing
.pytest_cache/
.coverage
htmlcov/
